.logo {
    height: 125px;
}
.inicio{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}
.nombre {
    width: auto;
}
h1{
    padding: 45px 45px 45px 5px
}
.login{
    justify-content: center;
    padding: 15% ;
    background-color: white;
    border-radius: 50px;
}
body{
    background-color: #6BB2C6;
}
.boton{
    background-color: #032A38;
    margin: 15px;
}
.boton1{
    background-color: white;
    border-bottom: black;
    margin: 15px;
}
.boton1:hover{
    background-color: white;
    border-bottom: black;
    margin: 15px;
}
.boton:hover{
    background-color: #032A38;
}
a{
    text-decoration: none;
    text-transform: none;
    color: white;
}
