
.interlin{
    padding-top: 1%;
}

.interlin-button{
    padding-top: 5%;
}
.but{
    margin: 0px 90px 50px 0px;
}
.container{
    padding: 50px 100px;
    h1{
        padding-bottom: 40px;
    }
}

